.Search{
    display: flex;
    border: 1px solid black;
    width:100%;
    height:50px;
    background-color: rgb(89, 119, 228);
}
.SearchSignup{
    margin: auto;
    color: rgb(0, 107, 109);

}
.Searchinput1{
    padding:15px;
    height:20px;
    width:50%;
    margin-right: auto;
    margin-top: 6px;
    margin-left: auto;
}
.button{
    margin-right:auto;
    width:100px;
    padding-bottom: 20px;
    height: 30px;
    margin-top: 4px;
    margin-top: 10px;
    background-color:rgb(200, 48, 48) ;
    font-size: larger;
}